<%= form_with(model: subcategory) do |form| %>
  <% if subcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subcategory.errors.count, "error") %> prohibited this subcategory from being saved:</h2>

      <ul>
        <% subcategory.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :name %>
    <%= form.text_field :name , class:"form-control", :required => true%>
  </div>

  <div class="field mb-3">
    <%= form.label :description %>
    <%= form.text_field :description , class:"form-control", :required => true%>
  </div>

  <div class="field mb-3">
    <%= form.label :category_id %>
    <br>
    <%= form.collection_select :category_id, Category.all, :id, :name,{:include_blank => 'Select Category'}, {:class => 'form-select', :required => true}%>
  </div>

    

  <div class="field mb-3">
    <%= form.label :alloted_budget %>
    <%= form.number_field :alloted_budget , class:"form-control", :required => true%>
  </div>

  <div class="field mb-3">
    <%= form.number_field :remaining_budget , class:"form-control", type: :hidden%>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-dark" %>
  </div>
<% end %>
