
<h1>Subcategories</h1>
<%= link_to 'New Subcategory', new_subcategory_path,class:"btn btn-secondary" %>
<br>
<br>

<table class="table table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Category ID</th>
      <th>Category Name</th>
      <th>Alloted budget</th>
      <th>Remaining budget</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subcategories.each do |subcategory| %>
      <tr>
        <td><%= subcategory.id %></td>
        <td><%= subcategory.name %></td>
        <td><%= subcategory.description %></td>
        <td><%= subcategory.category_id %></td>
        <td><%= subcategory.category.name  %></td>
        <td><%= subcategory.alloted_budget %></td>
        <td><%= subcategory.remaining_budget %></td>
        <td><%= link_to 'Show', subcategory %></td>
        <td><%= link_to 'Edit', edit_subcategory_path(subcategory) %></td>
        <td><%= link_to 'Destroy', subcategory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

