<div class="bg-light p-5">

<p>
  <strong>Subcategory:</strong>
  <%= @transaction.subcategory_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@transaction.image,style:"width:100%") %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) , class:"btn btn-secondary p-2"%> 
<%= link_to 'Back', transactions_path, class:"btn btn-secondary p-2" %>
</div>